<div class="page-header">
  <%= link_to new_reminder_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Reminder
  <% end %>
  <h1>Listing reminders</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Reminder Date</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @reminders.each do |reminder| %>
        <%= content_tag :tr, id: dom_id(reminder), class: dom_class(reminder) do %>
                      <td><%= reminder.title %></td>
                      <td><%= reminder.description %></td>
                      <td><%= reminder.reminder_date %></td>
                    <td><%= link_to 'Show', reminder %></td>
          <td><%= link_to 'Edit', edit_reminder_path(reminder) %></td>
          <td><%= link_to 'Destroy', reminder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
