<div class="page-header">
  <%= link_to reminders_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_reminder_path(@reminder), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show reminder</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @reminder.title %></dd>

  <dt>Description:</dt>
  <dd><%= @reminder.description %></dd>

  <dt>Reminder date:</dt>
  <dd><%= @reminder.reminder_date %></dd>

</dl>
